header {
  position: sticky;
  top: 0;
  z-index: 100000;
}
header.sticky {
  background: #fff;
}
body {
  background-color: #fff;
}
.footer {
  background-color: #bb0a1e;
  height: 400px;
}
.image {
  background-image: none;
  background-size: cover;
  height: 150px;
  margin-left: 340px;
  margin-top: -100px;
}
.image1 {
  background-image: none;
  background-size: cover;
  height: 150px;
  margin-left: 370px;
  margin-top: -175px;
}
.page-section-heading1 {
  background-color: #bb0a1e;
  background-size: center;
  border: 2000px;
  height: 50px;
  text-align: center;
  z-index: 100000;
}
.page-section-heading {
  background-color: #bb0a1e;
  background-size: cover;
  height: 50px;
  text-align: center;
  z-index: 100000;
}
.button {
  size: 10000000px;
}
#Close {
  font-size: 30px;
  margin-left: 400px;
}
.close-button {
  margin-top: 30px;
}
.about {
  background-color: white;
  margin-top: -70px;
  height: 640px;
}
.about::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
}
.nav .navbar {
  position: relative;
  z-index: 1;
}
.navbar-brand {
  font-family: Noto Sans TC;
  font-size: 35px;
  margin-left: 20px;
}
#image1 {
  width: 220px;
  height: 130px;
  margin-top: -200px;
  margin-bottom: -350px;
}
/*Utility */
.tombol {
  text-transform: uppercase;
  border-radius: 40px;
}

.nav-link {
  font-size: 17px;
}
.jumbotron {
  background-image: url(Image/bgmomchips.jpg);
  background-size: cover;
  height: 546px;
  text-align: center;
}

.jumbotron .container {
  z-index: 1;
  position: relative;
}

.jumbotron::after {
  content: "";
  display: block;
  width: 100%;
  height: -100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1));
  position: absolute;
  bottom: 0;
}

.jumbotron .display-4 {
  color: white;
  margin-top: 250px;
  font-weight: 100%;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
  font-size: 35px;
  margin-bottom: 30px;
  margin-top: 180px;
  font-weight: bold;
}
.jumbotron .display-5 {
  color: white;
  font-weight: 100%;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
  font-size: 35px;
  margin-bottom: 30px;
  font-weight: bold;
}
.jumbotron .display-4 span {
  font-weight: 700;
}

@media (min-width: 992px) {
  .ig {
    margin-left: 5px;
    font-size: 30px;
  }
  #img {
    width: 300px;
    height: 200px;
    display: block;
    margin-top: -100px;
    margin-left: 100px;
    line-height: 3px;
  }
  #img1 {
    width: 300px;
    height: 80px;
    display: block;
    margin-top: -70px;
    margin-left: auto;
    margin-right: auto;
    line-height: 3px;
  }
  #img2 {
    width: 200px;
    height: 80px;
    display: block;
    margin-top: -10px;
    margin-left: 0px;
    line-height: 3px;
  }
  #img3 {
    width: 200px;
    height: 100px;
    display: block;
    margin-top: -50px;
    margin-left: -30px;
    margin-right: auto;
    line-height: 3px;
  }
  #img4 {
    width: 330px;
    height: 150px;
    display: block;
    margin-top: -100px;
    margin-left: -70px;
    margin-right: auto;
    line-height: 3px;
  }
  #img5 {
    width: 200px;
    height: 150px;
    display: block;
    margin-top: -50px;
    margin-left: 50px;
    margin-right: auto;
    line-height: 3px;
  }
  .image {
    background-image: none;
    background-size: cover;
    height: 250px;
    margin-left: 880px;
    margin-top: -160px;
  }

  .image1 {
    background-image: none;
    background-size: cover;
    height: 250px;
    margin-left: 810px;
    margin-top: -275px;
  }
  #Close {
    font-size: 30px;
    margin-left: 440px;
    margin-bottom: -20px;
  }
  .close-button {
    margin-top: 30px;
  }
  #text {
    margin-bottom: 25px;
  }
  .about {
    background-color: #fff;
    margin-top: -70px;
    height: 640px;
  }
  .about::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
  }
  .navbar-brand {
    margin-top: 0px;
  }
  .navbar-collapse {
    margin-left: -55px;
    margin-top: 0px;
  }

  .nav-link {
    color: white !important;
    text-transform: uppercase;
    margin-right: 30px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
    font-weight: bolder;
  }
  #image1 {
    width: 350px;
    height: 200px;
    margin-top: 0px;
    margin-bottom: -300px;
  }
  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid blue;
  }
  .jumbotron {
    background-image: url(Image/bg_0-3.jpg);
    margin-top: 0px;
    height: 640px;
  }
  .jumbotron::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
  }
  .jumbotron .display-4 {
    font-size: 50px;
    margin-top: 300px;
    font-weight: 10;
  }
  .navbar-brand,
  .nav-link {
    color: white !important;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
  }
}

#image-fluid {
  width: 200px;
  height: 200px;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  line-height: 3px;
}

/* Desktop Version*/
@media (min-width: 992px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
    margin-top: -20px;
  }
  header.sticky {
    padding: 5px 100px;
    background: #bb0a1e;
    margin-top: 0px;
  }
  .text20 {
    margin-left: 40px;
  }
  y {
    margin-left: 20px;
  }
  z {
    margin-left: 55px;
  }
  #image {
    width: 90px;
    height: 58px;
    margin-right: 20px;
  }

  .nav-link {
    text-transform: uppercase;
    margin-left: auto;
  }
  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid blue;
  }
  .jumbotron .display-4 {
    font-size: 62px;
  }
}
