header {
  position: sticky;
  top: 0;
  z-index: 100000;
}
header.sticky {
  background: #fff;
}
body {
  background-color: #fff;
}

.slides {
  cursor: default;
  position: relative;
  top: 0px;
  left: 220px;
  width: 800px;
  height: 1200px;
  overflow: hidden;
}
.testimoni {
  margin-top: -19px;
  position: relative;
  top: 50%;
  width: 38px;
  height: 38px;
}
#jssor_1 {
  position: relative;
  margin: 0 auto;
  top: 0px;
  left: -40px;
  width: 1100px;
  height: 2000px;
  overflow: hidden;
  visibility: hidden;
  margin-top: 10px;
  margin-bottom: 250px;
}
.jssorl-009-spin {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.jssora10642 {
  width: 100px;
  height: 100px;
  top: 162px;
  left: -80px;
}
.jssora1064 {
  width: 100px;
  height: 100px;
  top: 162px;
  right: -220px;
}
o {
  font-size: 12px;
}
#ws {
  margin-left: 4px !important;
  margin-top: 10px;
  width: 30px;
  height: 30spx;
}
#ig {
  margin-left: 4px !important;
  margin-top: 10px;
  width: 30px;
  height: 30px;
}
#tt {
  margin-left: 4px !important;
  margin-top: 10px;
  width: 30px;
  height: 30px;
}
#wa {
  margin-top: 10px;
  width: 30px;
  height: 30px;
}
#sp {
  margin-top: 10px;
  width: 30px;
  height: 30px;
}
#tp {
  margin-top: 10px;
  width: 30px;
  height: 30px;
}

#harga {
  text-align: left;
}
.galeri {
  margin-left: 0px;
  width: 390px;
}
#img {
  width: 170px;
  height: 130px;
  display: block;
  margin-top: -85px;
  margin-left: -20px;
  line-height: 3px;
}
#img1 {
  width: 180px;
  height: 50px;
  display: block;
  margin-top: -80px;
  margin-left: 120px;
  margin-right: auto;
  line-height: 3px;
}
#img2 {
  width: 120px;
  height: 150px;
  display: block;
  margin-top: -10px;
  margin-left: 0px;
  line-height: 3px;
}
#img3 {
  width: 110px;
  height: 60px;
  display: block;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: auto;
  line-height: 3px;
}
#img4 {
  width: 200px;
  height: 80px;
  display: block;
  margin-top: -30px;
  margin-left: 120px;
  margin-right: auto;
  line-height: 3px;
}
#img5 {
  width: 90px;
  height: 70px;
  display: block;
  margin-top: 90px;
  margin-left: 120px;
  margin-right: auto;
  line-height: 3px;
}
y {
  font-size: 15px;
  margin-left: 10px;
}
.img-fluid1 {
  width: 150px;
  height: 150px;
  margin-left: 60px;
  margin-bottom: -100px;
}
.img-fluid2 {
  width: 220px;
  height: 150px !important;
  margin-left: 30px;
  margin-bottom: -80px;
}
.img-fluid3 {
  width: 190px;
  height: 150px !important;
  margin-left: 40px;
}
#text20 {
  text-align: justify;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  line-height: 35px;
}
c {
  margin-left: 33x;
}
z {
  margin-left: 33px;
}
g {
  margin-left: 34px;
}
#ekspedisi {
  font-size: 20px;
}
#text19 {
  font-size: 20px;
  font-weight: bold;
  line-height: 25px !important;
}
#text191 {
  font-size: 20px;
  font-weight: bold;
  line-height: 25px !important;
  margin-top: 50px;
}
#text1 {
  font-size: 15px;
  margin-left: 10px;
  line-height: 25px;
}
m {
  margin-left: 20px;
}
#text1x {
  font-size: 15px;
  line-height: 25px;
  margin-left: 20px;
}
#text5 {
  line-height: 30px;
  font-size: 15px;
}
.gabung {
  font-size: 29px;
  margin-top: 40px;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  font-family: "Times New Roman", Times, serif;
}
.img-fluid2 {
  height: 250px;
}
#text11 {
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: bold;
  line-height: 200%;
  letter-spacing: 200%;
  text-align: justify;
}

#fab {
  height: 60px;
  width: 60px;
  margin-left: -150px;
  margin-top: -10px;
}
#fab1 {
  height: 60px;
  width: 60px;
  margin-left: -150px;
  margin-top: 40px;
}
#fab2 {
  height: 60px;
  width: 60px;
  margin-left: -150px;
  margin-top: 80px;
}
#btn {
  margin-top: 0px;
  margin-left: 0px;
  height: 0px;
  width: 0px;
}
#k {
  font-size: 30px;
  margin-bottom: 20px;
  margin-left: 50px;
}
#fab3 {
  height: 60px;
  width: 60px;
  margin-left: 750px;
  margin-top: 150px;
}
#fab4 {
  height: 60px;
  width: 60px;
  margin-left: 750px;
  margin-top: 220px;
}
#fab5 {
  height: 60px;
  width: 60px;
  margin-left: 750px;
  margin-top: 300px;
}
#btn4 {
  margin-top: -20px;
  margin-right: 0px;
  height: 0px;
  width: 0px;
}
#btn2 {
  margin-bottom: 0px;
  margin-right: 0px;
  height: 0px;
  width: 0px;
}

#btn3 {
  margin-top: 0px;
  margin-right: 0px;
  height: 0px;
  width: 0px;
}
#k1 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-left: 50px;
}
.sosmed1 {
  background-color: white;
  margin-top: -50px;
  margin-bottom: 5px;
  border-radius: 100%;
  height: 70px;
  width: 70px;
}
.btn1 {
  margin-left: -70px;
  margin-bottom: -10px;
  margin-top: -100px;
  opacity: 0;
  height: 60px;
  width: 60px;
}

#location {
  background-color: #bb0a1e;
  height: 450px;
}
.image {
  background-image: none;
  background-size: cover;
  height: 130px;
  margin-left: 190px;
  margin-top: -90px;
}
.image1 {
  background-image: none;
  background-size: cover;
  height: 130px;
  margin-left: 222px;
  margin-top: -158px;
}
.page-section-heading1 {
  background-color: #bb0a1e;
  background-size: center;
  border: 2000px;
  height: 50px;
  text-align: center;
  z-index: 100000;
}
.page-section-heading {
  background-color: #bb0a1e;
  background-size: cover;
  font-size: 30px;
  height: 50px;
  text-align: left;
  z-index: 100000;
}
.page-section-heading2 {
  background-color: #bb0a1e;
  background-size: cover;
  font-size: 25px;
  height: 50px;
  text-align: left;
  z-index: 100000;
}
#text {
  margin-bottom: -70px;
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  letter-spacing: -0.5px;
  line-height: 150%;
  font-size: 25px;
  font-weight: bold;
}
j {
  font-size: 25px;
  font-weight: bold;
}

.about {
  background-color: white;
  margin-top: -70px;
  height: 640px;
}
.about::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
}
.nav .navbar {
  position: relative;
  z-index: 1;
}
.navbar-brand {
  font-family: Noto Sans TC;
  font-size: 35px;
  margin-left: 20px;
}
#image1 {
  width: 290px;
  height: 170px;
  margin-top: -300px;
  margin-bottom: -500px;
}
/*Utility */
.tombol {
  text-transform: uppercase;
  border-radius: 40px;
}

.nav-link {
  font-size: 13px;
}
.jumbotron {
  background-image: url(image/photo1649215914a.jpeg);
  background-size: cover;
  margin-top: 0px;
  height: 570px;
  text-align: center;
}

.jumbotron .container {
  z-index: 1;
  position: relative;
}

.jumbotron::after {
  content: "";
  display: block;
  width: 100%;
  height: -100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1));
  position: absolute;
  bottom: 0;
}

.jumbotron .display-4 {
  color: white;
  margin-top: 230px;
  font-weight: 100%;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
  font-size: 22px;
  font-weight: bold;
}
.jumbotron .display-5 {
  color: white;
  font-weight: 100%;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
  font-size: 25px;
  margin-bottom: 30px;
  font-weight: bold;
}
.jumbotron .display-4 span {
  font-weight: 700;
}
.video {
  margin: 0 10px 4px 0;
  float: left;
  width: 330px;
  height: 250px;
}
@media (min-width: 992px) {
  .slides {
    cursor: default;
    position: relative;
    top: 0px;
    left: 240px;
    width: 500px;
    height: 1000px;
    overflow: hidden;
  }
  .testimoni {
    margin-top: -19px;
    position: relative;
    top: 50%;
    width: 38px;
    height: 38px;
  }
  #jssor_1 {
    position: relative;
    margin: 0 auto;
    top: 0px;
    left: 0px;
    width: 980px;
    height: 1500px;
    overflow: hidden;
    visibility: hidden;
    margin-top: 0px;
    margin-bottom: -50px;
  }
  .jssorl-009-spin {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .jssora10642 {
    width: 55px;
    height: 55px;
    top: 162px;
    left: 30px;
  }
  .jssora1064 {
    width: 55px;
    height: 55px;
    top: 162px;
    right: 30px;
  }
  o {
    font-size: 11px;
  }
  #ws {
    margin-left: 6px !important;
    margin-top: 10px;
    width: 55px;
    height: 55px;
  }
  #ig {
    margin-left: 10px !important;
    margin-top: 10px;
    width: 45px;
    height: 45px;
  }
  #tt {
    margin-left: 10px !important;
    margin-top: 10px;
    width: 45px;
    height: 45px;
  }
  #wa {
    margin-top: 10px;
    width: 55px;
    height: 55px;
  }
  #sp {
    margin-top: 10px;
    width: 55px;
    height: 55px;
  }
  #tp {
    margin-top: 10px;
    width: 55px;
    height: 55px;
  }
  #btnw {
    float: left;
    widht: 100px;
    height: 120px;
    margin-left: -170px;
    margin-top: -35px;
  }
  #kw {
    margin-left: -30px;
    font-size: 30px;
    margin-bottom: 20px;
  }
  #btni {
    float: left;
    widht: 100px;
    height: 80px;
    margin-left: 480px;
    margin-top: -20px;
  }
  #ki {
    margin-left: 40px;
    font-size: 30px;
    margin-bottom: 20px;
  }
  #btnwa {
    float: left;
    widht: 150px;
    height: 100px;
    margin-left: -160px;
    margin-top: -20px;
  }
  #kwa {
    margin-left: -20px;
    font-size: 30px;
    margin-bottom: 20px;
  }
  #btns {
    float: left;
    widht: 160px;
    height: 160px;
    margin-left: 443px;
    margin-top: -50px;
  }
  #ks {
    margin-left: 10px;
    font-size: 30px;
    margin-bottom: 20px;
  }
  #btntt {
    float: left;
    widht: 85px;
    height: 85px;
    margin-left: -155px;
    margin-top: -20px;
  }
  #ktt {
    margin-left: -20px;
    font-size: 30px;
    margin-bottom: 20px;
  }
  #btntp {
    float: left;
    widht: 120px;
    height: 120px;
    margin-left: 467px;
    margin-top: -40px;
  }
  #ktp {
    margin-left: 40px;
    font-size: 30px;
    margin-bottom: 20px;
  }
  #text1x {
    font-size: 25px;
    line-height: 50px;
    margin-left: 20px;
  }
  #text19 {
    font-size: 35px;
    font-weight: bold;
    line-height: 25px !important;
  }
  #text191 {
    font-size: 35px;
    font-weight: bold;
    line-height: 25px !important;
  }
  #ekspedisi {
    font-size: 30px;
    text-color: black;
  }
  .page-section-heading2 {
    background-color: #bb0a1e;
    background-size: cover;
    font-size: 40px;
    height: 50px;
    text-align: center !important;
    z-index: 100000;
  }
  .page-section-heading {
    background-color: #bb0a1e;
    background-size: cover;
    font-size: 40px;
    height: 50px;
    text-align: center;
    z-index: 100000;
  }
  .img-fluid1 {
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-bottom: auto;
  }
  .img-fluid2 {
    width: 350px !important;
    height: 250px !important;
    margin-left: auto;
    margin-bottom: auto;
  }
  .img-fluid3 {
    width: 370px;
    height: 290px !important;
    margin-left: auto;
    margin-bottom: auto;
  }
  #text5 {
    font-size: 25px;
    line-height: 30px;
  }
  g {
    margin-left: 0px;
  }
  .img-fluid2 {
    height: 250px;
    width: auto;
  }
  #harga {
    text-align: left;
  }
  #text1 {
    font-size: 25px;
    line-height: 50px;
  }
  x {
    margin-left: 43px;
  }

  .jumbotron .display-5 {
    color: white;
    font-weight: 100%;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
    font-size: 40px;
    margin-bottom: 0px;
    font-weight: bold;
  }
  .jumbotron::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
  }
  .video {
    margin: 0 10px 4px 0;
    float: left;
    width: 560px;
    height: 400px;
  }
  j {
    font-size: 40px;
    font-weight: bold;
  }
  .ig {
    margin-left: 5px;
    font-size: 30px;
  }
  #img {
    width: 300px;
    height: 200px;
    display: block;
    margin-top: -100px;
    margin-left: -100px;
    line-height: 3px;
  }
  #img1 {
    width: 300px;
    height: 80px;
    display: block;
    margin-top: -70px;
    margin-left: -170px;
    margin-right: auto;
    line-height: 3px;
  }
  #img2 {
    width: 250px;
    height: 250px;
    display: block;
    margin-top: -330px;
    margin-left: 380px;
    line-height: 3px;
  }
  #img3 {
    width: 200px;
    height: 100px;
    display: block;
    margin-top: -50px;
    margin-left: -50px;
    margin-right: auto;
    line-height: 3px;
  }
  #img4 {
    width: 330px;
    height: 150px;
    display: block;
    margin-top: -100px;
    margin-left: -0px;
    margin-right: auto;
    line-height: 3px;
  }
  #img5 {
    width: 200px;
    height: 150px;
    display: block;
    margin-top: -50px;
    margin-left: 100px;
    margin-right: auto;
    line-height: 3px;
  }
  .image {
    background-image: none;
    background-size: cover;
    height: 250px;
    margin-left: 840px;
    margin-top: -160px;
  }

  .image1 {
    background-image: none;
    background-size: cover;
    height: 250px;
    margin-left: 910px;
    margin-top: -275px;
  }

  #text {
    font-size: 40px;
    margin-bottom: 25px;
    font-family: "Times New Roman", Times, serif;
    text-align: justify;
    line-height: 200%;
  }
  #text11 {
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: bold;
    line-height: 200%;
    letter-spacing: 200%;
    text-align: center;
  }
  .about {
    background-color: #fff;
    margin-top: -70px;
    height: 640px;
  }
  .about::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
  }
  .navbar-brand {
    margin-top: 0px;
  }
  .navbar-collapse {
    margin-left: -50px;
    margin-right: 12px;
    margin-top: 0px;
  }

  .nav-link {
    color: white !important;
    text-transform: uppercase;
    margin-right: 50px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
    font-weight: bolder;
  }
  #image1 {
    width: 350px;
    height: 200px;
    margin-top: 0px;
    margin-bottom: -300px;
  }
  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid blue;
  }
  .footer {
    background-color: #bb0a1e;
    background-size: cover;
    height: 400px;
  }
  .jumbotron {
    background-image: url(image/photo1649215914a.jpeg);
    background-size: cover;
    margin-top: 0px;
    height: 600px;
    text-align: center;
  }

  .jumbotron .display-4 {
    font-size: 50px;
    margin-top: 300px;
    font-weight: 10;
  }
  .navbar-brand,
  .nav-link {
    color: white !important;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
  }
}

#image-fluid {
  width: 200px;
  height: 200px;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  line-height: 3px;
}

/* Desktop Version*/
@media (min-width: 992px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
    margin-top: -20px;
  }
  header.sticky {
    padding: 5px 100px;
    background: #bb0a1e;
    margin-top: 0px;
  }
  #text20 {
    text-align: justify;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    line-height: 50px;
  }
  y {
    font-size: 25px;
    margin-left: 20px;
  }
  z {
    margin-left: 0px;
  }
  #image {
    width: 90px;
    height: 58px;
    margin-right: 20px;
  }
  .galeri {
    margin-left: 0px;
    width: 1080px;
  }
  .nav-link {
    text-transform: uppercase;
    margin-left: auto;
  }
  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid blue;
  }
  .jumbotron .display-4 {
    font-size: 62px;
  }
}
