header {
  position: sticky;
  top: 0;
  z-index: 100000;
}
header.sticky {
  background: #fff;
}
body {
  background-color: #fff;
}
.gabung {
  font-size: 29px;
  margin-top: 40px;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  font-family: "Times New Roman", Times, serif;
}
#text11 {
    margin-bottom: 40px;
    line-height: 200%;
    letter-spacing: 200%;
    text-align: justify;
}
#fab  {
  height: 60px;
  width: 60px;
  margin-left: -150px;
  margin-top: -10px;
}
#fab1  {
  height: 60px;
  width: 60px;
  margin-left: -150px;
  margin-top: 40px;
}
#fab2 {
  height: 60px;
  width: 60px;
  margin-left: -150px;
  margin-top: 80px;
}
#btn {
  margin-top: 0px;
  margin-left: 0px;
  height:0px;
  width: 0px;
}
#k {
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 50px;
}
#fab3  {
  height: 60px;
  width: 60px;
  margin-left: 750px;
  margin-top: 150px;
}
#fab4  {
  height: 60px;
  width: 60px;
  margin-left: 750px;
  margin-top: 220px;
}
#fab5 {
  height: 60px;
  width: 60px;
  margin-left: 750px;
  margin-top: 300px;
}
#btn4 {
  margin-top: -20px;
  margin-right: 0px;
  height: 0px;
  width: 0px;
}
#btn2 {
  margin-bottom: 0px;
  margin-right: 0px;
  height: 0px;
  width: 0px;
}

#btn3 {
  margin-top: 0px;
  margin-right: 0px;
  height: 0px;
  width: 0px;
}
#k1{
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 50px;
}
.sosmed1 {
  background-color: white;
  margin-top: -50px;
  margin-bottom: 5px;
  border-radius: 100%;
  height: 70px;
  width: 70px;
}
.btn1 {
  margin-left: -70px;
  margin-bottom: -10px;
  margin-top: -100px
  opacity: 0;
  height: 60px;
  width: 60px;
}

#location {
  background-color: #bb0a1e;
  height: 450px;
}
.image {
  background-image: none;
  background-size: cover;
  height: 150px;
  margin-left: 340px;
  margin-top: -100px;
}
.image1 {
  background-image: none;
  background-size: cover;
  height: 150px;
  margin-left: 370px;
  margin-top: -175px;
}
.page-section-heading1 {
  background-color: #bb0a1e;
  background-size: center;
  border: 2000px;
  height: 50px;
  text-align: center;
  z-index: 100000;
}
.page-section-heading {
  background-color: #bb0a1e;
  background-size: cover;
  height: 50px;
  text-align: center;
  z-index: 100000;
}
  #text {
    margin-bottom: 15px;
    font-family: "Times New Roman", Times, serif;
    text-align: justify;
    margin-bottom: 10px;
    letter-spacing: -0.5px;
    line-height: 150%;
  }
  j {
  font-size: 30px;
  font-weight: bold;
}
.button {
  size: 10000000px;
}
#Close {
  font-size: 30px;
  margin-left: 400px;
}
.close-button {
  margin-top: 30px;
}
.about {
  background-color: white;
  margin-top: -70px;
  height: 640px;
}
.about::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
}
.nav .navbar {
  position: relative;
  z-index: 1;
}
.navbar-brand {
  font-family: Noto Sans TC;
  font-size: 35px;
  margin-left: 20px;
}
#image1 {
  width: 290px;
  height: 170px;
  margin-top: -300px;
  margin-bottom: -500px;
}
/*Utility */
.tombol {
  text-transform: uppercase;
  border-radius: 40px;
}

.nav-link {
  font-size: 14px;
}
.jumbotron {
  background-image: url(Image/photo1649215914a.jpeg);
  background-size: cover;
  height: 546px;
  text-align: center;
}

.jumbotron .container {
  z-index: 1;
  position: relative;
}

.jumbotron::after {
  content: "";
  display: block;
  width: 100%;
  height: -100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1));
  position: absolute;
  bottom: 0;
}

.jumbotron .display-4 {
  color: white;
  margin-top: 230px;
  font-weight: 100%;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
  font-size: 27px;
  

  font-weight: bold;
}
.jumbotron .display-5 {
  color: white;
  font-weight: 100%;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
  font-size: 25px;
  margin-bottom: 30px;
  font-weight: bold;
}
.jumbotron .display-4 span {
  font-weight: 700;
}

@media (min-width: 992px) {
  .video {
    margin:0 10px 4px 0;
    float:left;
    width: 560px;
    height: 400px;
  }
  j {
  font-size: 40px;
  font-weight: bold;
}
  .ig {
    margin-left: 5px;
    font-size: 30px;
  }
  #img {
    width: 300px;
    height: 200px;
    display: block;
    margin-top: -100px;
    margin-left: 100px;
    line-height: 3px;
  }
  #img1 {
    width: 300px;
    height: 80px;
    display: block;
    margin-top: -70px;
    margin-left: auto;
    margin-right: auto;
    line-height: 3px;
  }
  #img2 {
    width: 250px;
    height: 250px;
    display: block;
    margin-top: -85px;
    margin-left: -5px;
    line-height: 3px;
  }
  #img3 {
    width: 200px;
    height: 100px;
    display: block;
    margin-top: -50px;
    margin-left: -30px;
    margin-right: auto;
    line-height: 3px;
  }
  #img4 {
    width: 330px;
    height: 150px;
    display: block;
    margin-top: -100px;
    margin-left: -70px;
    margin-right: auto;
    line-height: 3px;
  }
  #img5 {
    width: 200px;
    height: 150px;
    display: block;
    margin-top: -50px;
    margin-left: 50px;
    margin-right: auto;
    line-height: 3px;
  }
  .image {
    background-image: none;
    background-size: cover;
    height: 250px;
    margin-left: 880px;
    margin-top: -160px;
  }

  .image1 {
    background-image: none;
    background-size: cover;
    height: 250px;
    margin-left: 810px;
    margin-top: -275px;
  }
  #Close {
    font-size: 30px;
    margin-left: 440px;
    margin-bottom: -20px;
  }
  .close-button {
    margin-top: 30px;
  }
  #text {
    font-size: 30px;
    margin-bottom: 25px;
    font-family: "Times New Roman", Times, serif;
    text-align: justify;
    line-height: 200%;
  }
  #text11 {
    margin-bottom: 25px;
    line-height: 150%;
    text-align: center;
  }
  .about {
    background-color: #fff;
    margin-top: -70px;
    height: 640px;
  }
  .about::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
  }
  .navbar-brand {
    margin-top: 0px;
  }
  .navbar-collapse {
    margin-left: -50px;
    margin-right: 12px;
    margin-top: 0px;
  }

  .nav-link {
    color: white !important;
    text-transform: uppercase;
    margin-right: 45px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
    font-weight: bolder;
  }
  #image1 {
    width: 350px;
    height: 200px;
    margin-top: 0px;
    margin-bottom: -300px;
  }
  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid blue;
  }
  .footer {
    background-color: #bb0a1e;
    background-size: cover;
    height: 400px;
  }
  .jumbotron {
    background-image: url(image/photo1649215914a.jpeg);
    background-size: cover;
    margin-top: 0px;
    height: 670px;
  }

  .jumbotron .display-4 {
    font-size: 50px;
    margin-top: 300px;
    font-weight: 10;
  }
  .navbar-brand,
  .nav-link {
    color: white !important;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
  }
}

#image-fluid {
  width: 200px;
  height: 200px;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  line-height: 3px;
}

/* Desktop Version*/
@media (min-width: 992px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
    margin-top: -20px;
  }
  header.sticky {
    padding: 5px 100px;
    background: #bb0a1e;
    margin-top: 0px;
  }
  .text20 {
    margin-left: 40px;
  }
  y {
    margin-left: 20px;
  }
  z {
    margin-left: 45px;
  }
  #image {
    width: 90px;
    height: 58px;
    margin-right: 20px;
  }
  .galeri {
    margin-left: 0px;
    width: 1080px;
  }
  .nav-link {
    text-transform: uppercase;
    margin-left: auto;
  }
  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid blue;
  }
  .jumbotron .display-4 {
    font-size: 62px;
  }
}
